*{
    box-sizing:border-box;
}

body{
    width:100vw;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
display: 'grid';
grid-template-columns: 300px 500px 300px;
gap:20px;
}

.item{
    padding: 15px;
    background-color: green;
    min-width: 500px;
    margin: 10px;
}
    